.container {
    border: 1px solid black;
    display: flex;
    height: 50px;
    margin: auto;
    width: 500px;
  }

  .box {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .one {
    background-color: #3D80A6;
    display: flex;
    order: 4;
  }
  
  .two {
    background-color: #35E854;
    display: flex;
    order: 3;
  }
  
  .three {
    background-color: #FFF047;
    display: flex;
    order: 2;
  }
  
  .four {
    background-color: #E88435;
    display: flex;
    order: 1;
  }