@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
  display: flex;
  align-items: center;
  font-family: 'Architects Daughter', cursive;
  margin: 0px;
  background:url(https://upload.wikimedia.org/wikipedia/pt/c/cd/Nazar%C3%A9_Confusa.jpg) no-repeat;
  background-size: cover;
}
#contador {
  font-size:80px;
  text-align: center;
  margin-left: 88%;
  font-family: 'Architects Daughter', cursive;
}
.button{
  margin-top: 50px;
  margin-left: 80%;
  width: 500px;
  height: 100px;
  font-size: larger;
  text-transform: uppercase;
  font-weight: 900;
}
.btn{
  width: 100%;
  height: 100%;
}
#all{
  margin-top: 100px;
}

button.button{
  background-color: #03071e;
  color: #d00000;
}

input.button{
  background-color: #f72585;
  color: #4cc9f0;
}