legend {
  font-size: xx-large;
}

* {
  box-sizing: border-box;
  text-align: center;
  padding: 1%;
}

label, .checkbox {
  padding: 0%;
}

textarea.cur {
  height: 250px;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  resize: none;
}

textarea {
  height: 100px;
  width: 50%;
}

select {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type=text], [type=number], [type=email] {
  width: 50%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
