  h1{
      text-align: center;
  }

  p{
      text-align: center;
  }

  li:hover{
      background-color: rosybrown;
  }
  li{
      text-align: center;
  }

  li:active{
      font-family: monospace;
  }

  ul{
      list-style: none;
  }

  ol{
      list-style: none;
      margin-bottom: 30px;
  }

  p{
    font-style: italic;
    font-size: 20px;
    font-family: monospace;
  }