.super-mario {
  width: 100px;
  position: absolute;
  top: 300px;
  left: 100px;
}

.goomba {
  width: 50px;
  float: left;
  position: absolute;
  left: 150px;
  top: 430px;
}

.baloon {
  width: 300px;
  position: absolute;
  left: 400px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 427px;
  z-index: 1;
  top: 120px;
}

.bowser {
  width: 300px;
  position: absolute;
  left: 700px;
  top: 201px;
}